
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html,body{
  height: 100vh;
}

body{
  background: radial-gradient(#467259 0%,#619C7B 100%) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
